Ignore all setup variables to connect DBAPI
*.env

# Arquivos gerados pelo PyCharm
.idea/
*.iml

# Arquivos gerados pelo ambiente virtual
env/
venv/
virtualenv/
.venv/
.python-version

# Arquivos de compilação e build
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
*.egg

# Arquivos de log e cache
*.log
*.cache
*.swp
*.swo

# Outros arquivos que não devem ser versionados
*.pydevproject
.DS_Store
.coverage
.tox/

# Arquivos de dados
*.TXT
*.txt
*.xlsx
*.csv
*.txt
*.json
*.json5
*.jsonl


# Ignora arquivos executaveis (webdriver p/windows)
*.exe

# Ignora arquivos especificos utilizados para testes
testes-file.py